docker {
    enabled = true
    runOptions = '--user root'
}

params {
    // general parameters
    peddarParam = "/SNPConvert/source_codes/PEDDA_ROW/peddar.param"
    allele = "forward"
    snpidPos = "2"
    indidPos = "1"
    brdCode = "cnvbench"
    skipPenncnv = false
    skipQuantisnp = false
    skipIpattern = false
    skipEnsemblecnv = false
    skipRgada = false
    chrNames = ""
    resultsDir = "${PWD}/Results"
    chainFile = "${PWD}/Data/hg18ToHg38.over.chain"
    output = "aCNVbench"

    // PennCNV parameters
    gcModel = "${PWD}/Data/hg18.gc5Base.txt"
    hmmFile = "${PWD}/Data/hhall.hmm"
    gapFraction = 0.2
    numSNP = 10
    qcLrrsd = 0.3
    qcBafdrift = 0.01
    qcWf = 0.05

    // QuantiSNP parameters
    levelsFile = "/opt/quantisnp/config/levels.dat"
    quantisnpParams = "/opt/quantisnp/config/params.dat"
    nComp = 3
    degreesFreedom = 10
    nuAlpha = 1
    nuBeta = 1
    wAlpha = 1e4
    qAlpha = 10
    tau = 1e4
    sAlpha = 3
    sAlphaHomdel = 3
    longChromosome = 2e6

    // iPattern parameters
    ipatternConf = "/opt/ipn_0.582/ipn/ipattern.conf"
    experimentName = "acnvbench"
    winSize = 9
    peakSeparation = 0.6
    bandWidth = 0.8
    maxProbeDistance = 400000
    batchSize = 300
    pqFile = "${PWD}/Data/pq_hg18.txt"
    knownCnvrFile = "/opt/ipn_0.582/ipn/known.cnvr.txt.hg18"

    // R-GADA parameters
    tStatistic = 4
    aAlpha = 0.8
    minSegLength = 100

    // EnsembleCNV parameters
    workDir = "cnvbench"
    centromere = "${PWD}/Data/centromere_hg18.txt"
    maxLength = 90000000
    maxCNVRs = 200
    freqCutOff = 0.05
    gqScore = 0
}

process {
    cpus = 4
    memory = 8.GB

    withLabel: 'big_mem' {
        memory = { 32.GB * task.attempt }
        cpus = { 4 * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 4
    }
    withLabel: 'mem_64' {
        memory = 64.GB
    }
    withLabel: 'mem_48' {
        memory = 48.GB
    }
    withLabel: 'mem_32' {
        memory = 32.GB
    }
    withLabel: 'mem_16' {
        memory = 16.GB
    }
    withLabel: 'small_mem' {
        memory = 2.GB
    }
    withLabel: 'cpu_max' {
        cpus = 96
    }
    withLabel: 'cpu_big' {
        cpus = 32
    }
    withLabel: 'cpu_16x' {
        cpus = 16
    }
    withLabel: 'cpu_8x' {
        cpus = 8
    }
    withLabel: 'cpu_2x' {
        cpus = 2
    }
    withLabel: 'cpu_one' {
        cpus = 1
    }
    withLabel: 'acnvbench' {
        container = 'mbaardwijk/acnvbench:18-10-2023'
    }
    withLabel: 'penncnv' {
        container = 'mbaardwijk/penncnv:18-10-2023'
    }
    withLabel: 'quantisnp' {
        container = 'mbaardwijk/quantisnp:19-10-2023'
    }
    withLabel: 'ensemblecnv' {
        container = 'mbaardwijk/ensemblecnv:27-03-2024'
    }
    withLabel: 'ipattern' {
        container = 'mbaardwijk/ipattern:16-11-2023'
    }
    withLabel: 'rgada' {
        container = 'mbaardwijk/rgada:19-10-2023'
    }
}

executor {
    cpus = 48
    memory = '192 GB'
}

trace {
    enabled = true
    fields = 'task_id,name,status,cpus,time,disk,memory,submit,start,complete,duration,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,workdir'
}
